<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980634464887-pumc0ja9gjbaohfcl2s8t8tl0okgk8op.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980634464887-pumc0ja9gjbaohfcl2s8t8tl0okgk8op</string>
	<key>API_KEY</key>
	<string>AIzaSyDSQmTUG7-F-DjLf72Akq1P3xXQCu10Q1w</string>
	<key>GCM_SENDER_ID</key>
	<string>980634464887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sendyit.Register</string>
	<key>PROJECT_ID</key>
	<string>registerapp-9c707</string>
	<key>STORAGE_BUCKET</key>
	<string>registerapp-9c707.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980634464887:ios:f79fd5a6a27dbf86</string>
	<key>DATABASE_URL</key>
	<string>https://registerapp-9c707.firebaseio.com</string>
</dict>
</plist>